.row {
  padding: 20px;
}
.title {
  margin-top: 17px;
}
.time {
  float: left;
  display: flex;
}
.add {
  text-align: right;
  margin-top: 15px;
}
.add_row {
  margin-top: 15px;
}
.done {
  text-align: center;
}
select {
  height: 56px;
  width: 224.86px;
  border-radius: 5px;
  font-size: 16px;
  border-color: #c4c4c4;
  background-color: #e5e5e5;
}
select:hover {
  border-color: #000000;
}
select:focus {
  border-width: 2px;
  border-color: #1976d2;
}
