.header {
  height: 80px;
}

.footer{
  height: 80px;
  width: 10%px;
}

.side-bar{
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  flex: 1;
}

.side-bar > a {
	height: 10%;
	display: flex;
	padding: 10px 20px;
	justify-content: flex-start;
	align-items: flex-end;
}

.side-bar > a > span{
	margin-left: 10px;
}

.container{
  height:80%;
  display: flex;
  background-color: #E5E5E5;
}

.contain{
	width: 100%;
	flex: 5;
	overflow: scroll;
}

nav {
	width: 100%;
	padding: 10px 2%;
	justify-content: space-between;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	background: #fff;
	position:fixed;
	top: 0;
	z-index: 10;
  }
  
  .nav-left .menu-icon {
	width: 22px;
	margin-right: 25px;
  }
  .nav-left .logo-icon {
	width: 50px;
  }
  .logo-text {
	padding: 1%;
	font-weight: bold;
	font-size: xx-large;
  }
  
  .nav-right img {
	width: 25px;
	margin-right: 25px;
  }
  .nav-right .user-icon {
	width: 50px;
	border-radius: 50%;
	margin-right: 15px;
  }
  
  .nav-middle .search-box {
	border: 1px solid #ccc;
	margin-right: 15px;
	padding: 8px 20px;
	border-radius: 10px;
  }
  .search-icon {
	padding-top: 5px;
  }
  
  .nav-middle .search-box input {
	width: 400px;
	border: 0;
	outline: 0;
	background: transparent;
  }a.button {
	padding: 8px 16px;
	background-color: #18a0fb;
	border-radius: 10px;
	margin-right: 50px;
  }
  
  
  .button-icon {
	width: 35px;
  }
  .button-text {
	color: white;
	font-size: larger;
  }
