.header {
  height: 80px;
  width: 10%;
}

.footer{
  height: 80px;
  width: 10%px;
}

.side-bar{
  display: flex;
  flex-direction: column;
  background-color: aqua;
}

.container{
  height:80%;
  display: flex;
}